
.profile2 {
    width: 50vw;
    vertical-align: middle;
    /* display: flex; */
    /* flex-wrap: wrap; */
    /* display:flex; 
    flex-direction:row; */
}
.profile3 {
    width: 50vw;
}
.rowC{display:flex; flex-direction:row;}