.leftCol {
	position: fixed;
	left: 0;
	width: 70%;
	height: 100%;
}

.rightCol {
	position: fixed;
	right: 0;
	width: 30%;
	height: 100%;
}

.leftCol img {
	width: 100%;
	height: 100%;
}

.loginWrapper{
	text-align: center;
}

.loginWrapper form {
	text-align: left;
}