.pageWrapper {
	text-align: center;
	width: 80vw;
	height: 100vh;
	display: table;
}
.loginWrapper{
	text-align: center;
	width: 100vw;
	height: 100vh;
	display: table;
	display: table-cell;
	vertical-align: middle;
	display: inline-block;
	padding: 8px 8px;
}
.centerWrapper {
	display: table-cell;
	vertical-align: middle;
}

.info {
	display: inline-block;
	padding: 8px 8px;
	outline: solid black;
}

form {
	text-align: left;
}