body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.uploadedNotes{
  vertical-align: right;
}
.avi {
  vertical-align: middle;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
/* override bootstrap navbar colors */
.navbar,
.navbar-default {
    background-image: linear-gradient(to bottom,#4b6f86 0,#4b6f86  100%) !important; /* override background image gradient w/ flat color */
}
button{
  background: #999;
  color: #fff;
  border: none;
  padding: .5em;
  cursor: pointer;
  margin-bottom: 1em;
  margin-right: 1em;
  border-radius: .2em;
}

button:hover{
  background: #888;
}